<footer class="footer">
  <div class="columns">
    <div class="first_column">
      <div class="title">E-commerce by scalable software</div>
      <div class="text">Technology with Java and Spring</div>
      <div class="image">
        <img src="content/images/assets/images/logo.png" alt="Logo" width="50" />
      </div>
    </div>
    <div class="second_column">
      <div class="text">Products</div>
      <ul class="services">
        <p>Commerce Platform</p>
        <p>Microservices Accelerator</p>
        <p>Transaction Suite</p>
        <p>Merchandising Suite</p>
        <p>A la Carte Microservices</p>
      </ul>
    </div>
    <div class="third_column">
      <div class="text">Address</div>
      <ul class="address">
        <p>5700 Tennyson Parkway, Suite 300, Dallas, Texas 75024, USA</p>
      </ul>
    </div>
  </div>
  <div class="autoral">
    <p>© Broadleaf Commerce</p>
  </div>
</footer>
