<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (produto(); as produtoRef) {
      <div>
        <h2 data-cy="produtoDetailsHeading"><span jhiTranslate="lojaVirtualApp.produto.detail.title">Produto</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ produtoRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lojaVirtualApp.produto.nome">Nome</span></dt>
          <dd>
            <span>{{ produtoRef.nome }}</span>
          </dd>
          <dt><span jhiTranslate="lojaVirtualApp.produto.preco">Preco</span></dt>
          <dd>
            <span>{{ produtoRef.preco }}</span>
          </dd>
          <dt><span jhiTranslate="lojaVirtualApp.produto.descricao">Descricao</span></dt>
          <dd>
            <span>{{ produtoRef.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="lojaVirtualApp.produto.quantidade">Quantidade</span></dt>
          <dd>
            <span>{{ produtoRef.quantidade }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/produto', produtoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
