<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />

<div class="container my-5">
  <div class="home-card">
    <img src="content/images/assets/images/commerce.jpg" alt="Image" class="image" />
    <div class="text">
      <h2 class="title">Welcome to e-commerce platform to devs</h2>
      <p class="lead">An e-commerce scalable platform built in Java and Spring Framework</p>

      <div>
        @if (account() !== null) {
          <div class="alert alert-success">
            @if (account(); as accountRef) {
              <span
                >You are logged in as: <strong>{{ accountRef.login }}</strong></span
              >
            }
          </div>
        } @else {
          <div class="alert alert-warning">Log in to view your purchases and preferences.</div>
        }
      </div>
    </div>
  </div>
  <!--
<div class="container my-5">
  <div class="home-card">
    <h1 class="display-4">Bem-vindo(a) à Loja Virtual</h1>

    <p class="lead">Uma plataforma de ecommerce construído em Java e Spring Framework</p>



    <ul>
      <li>Confira nossos produtos</li>
      <li>Veja promoções</li>
      <li>Entre em contato com nossa equipe</li>
    </ul>

    <button class="btn btn-primary">Ver Produtos</button>
  </div>
</div> -->
</div>
